<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Source20 - Course</title>
    <link rel="stylesheet" type="text/css" href="{% static 'get_class/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'get_class/style.css' %}" />
    <link rel="stylesheet" href="{% static 'get_class/font-awesome/css/font-awesome.min.css' %}">
	<script src="{% static 'get_class/js/jquery.min.js' %}"></script>
	<script src="{% static 'get_class/js/functions.js' %}"></script>
    <script src="//use.typekit.net/rfq1osc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>