{% extends "get_class/base.html" %}

{% block content %}

{% if get_url_list %}

    {% for course in get_url_list %}

    <div class="sidebar">

        <div class="top">
            <h2>{{ course.course_name }}</h2>
            <h1>{{ course.url_name }}</h1>
        </div>

        <div class="contents">
        <p>Viewing contents from:</p>

        <input type="text" class="copy-box" value="{{ course.url }}" readonly="readonly">
        {{ prev_page | safe }}{{ next_page | safe }}
        {% for geturl in current_ratio %}
        <p>Current ratio: {{ geturl.votes}}<br /> everything above 0 is positive.</p>
        {% endfor %}
        </div>


    </div>


    <iframe class="course" src="{{ course.url }}"></iframe>

    {% endfor %}

{% else %}
    <p>No courses available for that name</p>
    <form action="" method="get">
        <input type="text" name="course" placeholder="Search for another course"/>
    </form>
{% endif %}

{% endblock %}