html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background: white;
    font-family: "proxima-nova";
    position: absolute;
    top: 0;
    left: 0;
}

p {
    font-size: 1em;
}

.content {
    width: 100%;
    min-height: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 10%;
}

.content h2 {
    color: #ff1b8c;
    text-transform: capitalize;
    font-size: 2.5em;
    margin-top: -0.4em;
}

.content h3 {
    color: #666;
    font-size: 1.6em;
}

.progress {
    width: 40%;
    height: 2em;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.progress p {
    color: #ff1b8c;
    position: absolute;
    top: 0;
    right: 0;
}

.progress-bar {
    background: linear-gradient(to left, #ff1b8c 50%, #eee 50%);
	background-size: 200% 100%;
	background-position: -10% 0;
	width: 92%;
	height: 0.5em;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0.15em;
	border-radius: 5px;

}

.login-box {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.form-text {
    width: 90%;
    font-size: 1.2em;
    font-weight: 300;
    color: #aaa;
    border: 1px solid #aaa;
    margin-top: 0.6em;
    border-radius: 5px;
    padding: 3% 5% 3% 5%;
}

.form-text:focus {
    border: 1px solid #ff1b8c;
    color: #ff1b8c;
    outline: 0;
}

.button {
	background: #ff1b8c;
	color: white;
	font-size: 0.95em;
	font-weight: 700;
	padding: 1.1em 3em 1.2em 3em;
	display: inline-block;
	-webkit-box-shadow:inset 0px -5px 0px 0px #de1c7c;
    -moz-box-shadow:inset 0px -5px 0px 0px #de1c7c;
    box-shadow:inset 0px -5px 0px 0px #de1c7c;
	border-radius: 5px;
	margin-top: 2em;
	cursor: pointer;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	text-decoration: none;
}

.button:hover {
	-webkit-box-shadow:inset 0px -5em 0px 0px #de1c7c;
    -moz-box-shadow:inset 0px -5em 0px 0px #de1c7c;
    box-shadow:inset 0px -5em 0px 0px #de1c7c;
}

.button.form {
    border: 0;
    float: right;
}

.register {
    background: none;
    padding: 1.1em 1em 1.2em 1em;
    font-size: 0.95em;
	font-weight: 300;
	display: inline-block;
	margin-top: 2em;
    float: left;
    color: #aaa;
}

.register:hover {
    color: #666;
}


.space-link {
    color: #666;
    text-decoration: none;
    margin-right: 1em;
    float: left;
    display: inline-block;
}

.space-link:hover {
    color: #000;
}

.sidebar {
    background: #27292a;
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 10;
    box-shadow: 1px 0px 2px rgba(0,0,0, 0.2);
}

.sidebar .top {
    background: #ff1b8c;
    display: inline-block;
    width: 90%;
    padding: 8% 5% 5% 5%;
}

.sidebar .top p {
	font-size: 0.8em;
	color: rgba(0,0,0,0.5);
	font-weight: 300;
}

.sidebar .contents {
    width: 90%;
    height: 100%;
    padding: 5%;
}

.sidebar h1 {
    font-family: "din-condensed-web";
	text-transform: uppercase;
	font-size: 1.7em;
	color: white;
	margin-top: -0.2em;
}

.sidebar h2 {
	text-transform: uppercase;
	font-size: 0.8em;
	color: rgba(0,0,0,0.5);
	margin-top: 0;
	font-weight: 300;
}

.sidebar p {
    font-size: 0.9em;
    color: #9fa3a4;
}

.sidebar span {
    font-weight: 700;
}

.sidebar-footer {
    width: 90%;
    padding: 5%;
    position: absolute;
    bottom: 2%;
    left: 0;
    border-top: 1px solid #171919;
}

.sidebar-footer p {
    font-size: 0.8em;
}

.sidebar-footer a {
    color: white;
}

.user {
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 0.4em;
    display: inline-block;
    font-size: 0.9em;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.user i {
    vertical-align: top;
}

.user-drop {
    background: #27292a;
    border-radius: 5px;
    padding: 0.4em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.user:hover > .user-drop {
    display: block;
}

.user-drop a {
    text-decoration: none;
    color: #9fa3a4;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.2em;
}

.user-drop a:hover {
    color: #eee;
}

.capitalize {
    text-transform: capitalize;
}

.pagination-nav {
    width: 100%;
    float: right;
    text-align: right;
}

.pagination {
    background: #ff1b8c;
    color: white;
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 5px;
    display: inline-block;
    margin-left: 5px;
}

.pagination.grey {
    background: #45494b;
    color: #777a7b;
}

.pagination.active:hover {
    opacity: 0.8;
}

.pagination.next {
    cursor: pointer;
}

.addvote {
    background: #ff1b8c;
    color: white;
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

.addvote.green {
    background: #a0e631;
}

.addvote.red {
    background: #e6314f;
}

.copy-box {
    background: #171919;
    width: 90%;
    border-radius: 5px;
    padding: 5%;
    border: 0;
    font-size: 0.8em;
    color: #565a5b;
}

.course {
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.course.toned {
    opacity: 0.6;
}